# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# IDE specific
.vscode/
.idea/

# Secrets
.env

# Logs
logs/*.log
!logs/.gitkeep # if you want to keep the directory

# Streamlit
.streamlit/